::-webkit-scrollbar {
    display: none;
}

.just-padding {
    padding: 15px;
}

.wiki-content {
    overflow-x: hidden;
    overflow-y: scroll;
}

.list-group.list-group-root {
    padding-top: 0;
    float: left;
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100vh - 145px);
    width: 100%;
}

.list-group.list-group-root .list-group {
    margin-bottom: 0;
}

.list-group-item {
    padding: 1px;
}

.list-group.list-group-root .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
    border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
    padding-left: 30px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
    text-align: left !important;
    padding-left: 45px;
}

.list-group.list-group-root > .list-group > .list-group-item {
    text-align: left !important;
    padding-left: 30px;
}

.list-group-item .glyphicon {
    margin-right: 5px;
}